@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Poppins';
    src: url('/Poppins-Regular.ttf') format('ttf');
    font-weight: 400; /* Adjust the weight if needed */
    font-style: normal; /* Adjust the style if needed */
}

.custom-background {
    @apply bg-custom-image bg-cover; /* or bg-contain depending on your needs */
}
.footer-background {
    @apply bg-footer-image bg-cover; /* or bg-contain depending on your needs */
}

.green-text {
    color: rgba(77, 83, 60, 1);
}
.green-text2 {
    color: rgba(181, 192, 150, 1);
}

